<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ulaugh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".LaughApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".controller.ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".controller.CameraActivity"
            android:exported="false"
            android:theme="@style/NoStatus" />
        <activity
            android:name=".controller.UserReactActivity"
            android:exported="false" />
        <activity
            android:name=".controller.RewardActivity"
            android:exported="false" />
        <activity
            android:name=".controller.ReactDetailActivity"
            android:exported="true"
            android:theme="@style/NoStatus" />
        <activity
            android:name=".controller.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".controller.ChangeContactActivity"
            android:exported="true"></activity>
        <activity
            android:name=".controller.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".controller.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".controller.LoginActivity"
            android:exported="false"
            android:theme="@style/NoNavigation" />
        <activity
            android:name=".controller.SplashActivity"
            android:exported="true"
            android:theme="@style/NoNavigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.HomeActivity"
            android:exported="true"
            android:theme="@style/NoStatus" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <service
            android:name=".fcm.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_background" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/dark_purple" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>